*{margin:0; padding:0;}
@font-face {
  font-family: 'ColfaxBold';
  src:url('../fonts/ColfaxWebBold.eot');
  src:url('../fonts/ColfaxWebBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ColfaxWebBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ColfaxRegular';
  src:url('../fonts/ColfaxWebRegular.eot');
  src:url('../fonts/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ColfaxWebRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body, td, th, select, input { font-family: 'ColfaxRegular', Verdana, Geneva, sans-serif; font-size: 14px; color: #fff; }
body { background: url(../images/body-bg.png) repeat;  margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; line-height: 24px;}
a:link { color: #00F; text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.wrap{width: 960px; margin:auto;}
.topHeader{ padding: 20px; text-align: center;color: #fff;font-size: 26px;}
.container{padding: 30px 0 0 0; }
.floatLeft{float:left;}
.floatRight{float: right;}
.clearBoth{clear: both;}
.leftWing{float:left; width:30%;}
.rightWing {
float: right;
width: 60%;
padding-top: 16px;}
.fulWidth{padding:30px;}
.intro{color: #fff; background:rgba(41,171,226,.8); font-size: 25px; padding:10px; margin-bottom: 3px;width: 420px;}
.intro1{color: #fff; background:rgba(41,171,226,.8); font-size: 25px; padding:10px; margin-bottom: 3px;width: 290px;}
.intro2{color: #fff; background:rgba(41,171,226,.8); font-size: 25px; padding:10px; margin-bottom: 3px;width: 265px;}
.intro3{color: #fff; background:rgba(41,171,226,.8); font-size: 25px; padding:10px; margin-bottom: 3px;width: 190px;}
.title {
font-size: 56px;
text-align: center;
padding-bottom: 16px;
font-family: 'ColfaxBold';
}
.details{
    padding: 30px 0;
}
.subtitle {
margin-top: 10px;
font-size: 36px;
font-weight: normal;
text-align: center;}
.details h1 {
padding: 10px 0 0;
text-transform: uppercase;
font-size: 21px;
font-family: 'ColfaxRegular';}

.details p{
    padding: 5px 0;
}
.footer{}
.footer p {
padding-left: 30px;
font-size: 18px;
padding-bottom: 15px;
}
.logos {
background: #fff;
padding: 10px 30px;
}
.logos img{
    margin-right: 38px;
}
.copyright{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;}

/*Media query starts*/
@media all and (min-width: 320px) and (max-width: 960px){
  body{font-size: 1em;}
  .wrap{width: 100%; margin:0;}
.leftWing {float: left;
width: 100%; text-align:center;
}
.leftWing img{width: 60%;}
.rightWing {
float: right;
width: 100%;
padding-top: 10px;
}
.fulWidth {
padding: 10px 5%;
}
.intro, .intro1, .intro2, .intro3{width: 100%;}
.container {
padding: 10px 2%;
}
.title {
font-size: 1em;
}
.subtitle {
font-size: 1.3em;
line-height: 1.4em;
}
.topHeader {padding: 0;}
.footer p {
padding-left: 0px;
font-size: 1em;
}
.logos {padding: 15px;}
.logos img {
margin-right: 0;
}


}
/*Media query starts*/